html{
    background: url(../pictures/background.gif) no-repeat;
    background-size: 100%;
    
}

@font-face {
    font-family: lobster;
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: edu;
    src: url(../fonts/EduVICWANTBeginner-VariableFont_wght.ttf);
}

.game{
    display:grid;
    grid-template-columns: repeat(3,auto);
    padding: 10px;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    
  
    

}

h1{
    position:inherit;
    left: 100px;
    top: 20px;
    font-size: 60px;
    color: gray;
    background: bisque;
    max-width: fit-content;
    box-shadow: 5px 5px 5px gray;
    font-family: lobster;
    letter-spacing:  5px;

}

.tile{
    border: 2px solid black;
    cursor: grab;
  


}

.tile:hover{
    background-image: url(../pictures/jump.gif)  ;
    background-size: cover;
    z-index: 0;
    
    
}


#one ,#two ,#three{
    border-top: none;
}

#one, #four, #seven{
    border-left: none;
}

#seven, #eight, #nine{
    border-bottom: none;
}

#three, #six, #nine{
    border-right: none;
}

.victory{
    position: absolute;
    top: 150px;
    right: 175px;
    font-size: 50px;
    visibility: hidden;
    width: 200px;
    font-family: edu;
    

}

#scoreTitle{
    font-size: 30px;
    
}

.scores{
    position: absolute;
    left: 40px;
    font-size: 30px;
    display: flex;
    align-content: flex-start;
    gap: 10px;
    align-items: baseline;
    color:gray;
    background: bisque;
    box-shadow: 5px 5px 5px gray;
    font-family: edu;

}

.play-again{
    padding: 20px 30px;
    position:absolute;
    top: 400px;
    right: 250px;
    background-color: bisque;
    color: gray;
    font-size: 20px;
    box-shadow: 5px 5px 5px gray;
    font-family: edu;
    visibility: hidden;


}


.show{
    display:block;
}

.player1 {
    background: url(../pictures/gray\ cat.png) ;
    background-size: cover;
}

.player2 {
    background: url(../pictures/orange\ cat.png);
    background-size: cover;
}

body.finished .play-again, .victory{
    visibility: visible;
}
